<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/signup.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
      <div class="input-box">
        <input type="text" placeholder="Enter name" required name="name"  autocomplete="off">
      </div>
      <div class="input-box">
        <input type="id" placeholder="ID" required name="id" autocomplete="off" minlength="9" maxlength="9">
      </div>
      <div>
         <input class="birth-box" type="date" min="1975-12-15" max="2050-08-26" step="1" required name="birthBox">
        </div>
        <div class="form-check" style="margin:2% 0 0 0 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Male">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check" style="margin:2% 0 0 0 ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="Female">
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
          <select class="form-select btn btn-primary input-box" aria-label="Default select example" name="specialties">
            <option selected>Open this select menu</option>
            <option value="Internal medicine">Internal medicine</option>
            <option value="Family medicine">Family medicine</option>
            <option value="Gastroenterology">Gastroenterology</option>
            <option value="Orthopedics">Orthopedics</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Neurosurgery">Neurosurgery</option>
            <option value="General surgery">General surgery</option>
            <option value="Geriatric medicine">Geriatric medicine</option>
            <option value="Urology">Urology</option>
            <option value="Dermatology">Dermatology</option>
            <option value="Ophthalmology">Ophthalmology</option>
            <option value="Otolaryngology">Otolaryngology</option>
            <option value="Anesthesiology">Anesthesiology</option>
            <option value="Oncology">Oncology</option>
            <option value="Obstetrics and gynaecology">Obstetrics and gynaecology</option>
            <option value="Neurology">Neurology</option>
            <option value="Pediatrics">Pediatrics</option>
            <option value="Endocrinology">Endocrinology</option>
            <option value="Emergency medicine">Emergency medicine</option>
            <option value="Psychiatry">Psychiatry</option>
          </select>
      
      <div class="input-box">
        <input type="email" placeholder="example@example.com" required name="Email"  autocomplete="off">
      </div>
      <div class="input-box">
        <input type="text" placeholder="username" required name="username"  autocomplete="off">
      </div>
      <div class="input-box" style="color: red;"><%=message%></div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>

      <!-- <div class="text">
        <h3>Already have an account? <a href="loginDoctor">Login now</a></h3>
      </div> -->
    </form>
  </div>
</body>
</html>
